.btn-warning{
    background: sandybrown;
}

.btn-success{
    background: lightsalmon;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
}
.nav-item{
    
    border-color: midnightblue;
    
    border-width: 5px;
    border-radius: 5px;
    padding: 5px;
    margin-right: 20px;
}

.jumbotron{
    background: url('../images/bg.png') -400px -200px;
    color: white;
    text-align: center;
    font-style: oblique;
    border-bottom: 5px salmon solid;

}

.jumbotron h1{
    margin-top: 50px;
    margin-bottom: 30px;
    color: rgb(212, 148, 148);
}

.jumbotron p.lead{
    font-size: 25px;
    margin-bottom: 60px;

}

.navbar{
    background-color: rgb(212, 211, 211);
}

.navbar a{
    margin-bottom: 3px;

}

.navbar a:hover{
    background: none !important;
    border-bottom: rgb(177, 156, 187) 3px solid;
    margin-bottom: 0;
}

.port_services_setions {
    background: #f7fbff;
	padding-bottom: 50px;
}

.port_services_setions .port_services_box {
	transition: all 0.5s;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(235, 235, 235);
    padding: 30px;
    max-width: 500px;
    margin: auto;
    position: relative;
    z-index: 0;
    margin-bottom: 30px;
}
.port_services_setions .port_services_box:hover {
    box-shadow: 0px 12px 29px 0px rgb(0, 0, 0, 0.09);
	border-color: #00000000;
}
.port_services_setions .port_services_box h2 {
	font-size: 22px;
    color: #556d91;
    padding: 28px 0px 9px 0px;
    text-transform: capitalize;
    position: relative;
    margin-bottom: 13px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
h2.project_heading:after {
    content: "";
    position: absolute;
    background: rgb(255, 196, 84);
    width: 70px;
    height: 2px;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 0;
}
.port_services_setions .port_services_box P {
    color: #777777;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.port_heading_wrapper .port_heading {
    font-size: 32px;
    color: #556d91;
    margin-top: 3px;
    font-weight: 700;
    text-transform: capitalize;
}

h1,h2,h3,h,h5,h6{
    font-family: 'Josefin Sans';
}

.port_heading_wrapper .port_sub_heading {
    font-size: 22px;
    color: #222222;
    font-weight: 600;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    cursor: default;
    z-index: 0;
    text-transform: capitalize;
}



h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}


.section-a{
    background: rgb(250, 189, 135);
    color: black;
    text-align: center;
    padding: 50px;
    margin-bottom: 30px;

}

.section-a h1{
    font-size: 70px;
}

.img-full{
    width: 100%;
    
}

.alert-warning{
    background-color: coral;
}